{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6">
      <!-- Card -->
      <div class="card mx-xl-5">

        <!-- Card body -->
        <div class="card-body">

          <!-- Default form subscription -->
          <form>
            <h4 class="h4 text-center pb-2">MoringaFlow</h4>
            <h4 class="text-center">Sign Up</h4>
            <hr>
            <!-- Default input name -->
            {{ form.username|as_crispy_field }}

            <br>

            <!-- Default input email -->
            {{ form.email|as_crispy_field }}
            {{ form.password1|as_crispy_field }}
            {{ form.password2|as_crispy_field }}
            {{ form.bio|as_crispy_field }}
            {{ form.image|as_crispy_field }}

            <div class="text-center py-4 mt-3">
              <button class="btn btn-cyan" type="submit">Register</i></button>
            </div>
          </form>
          <!-- Default form subscription -->

        </div>
        <!-- Card body -->

      </div>
      <!-- Card -->
    </div>

  </div>
</div>




{% endblock %}